@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
* {
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  background-color: #e2a8e2;
}

.beneficios {
  width: 100%;
  text-shadow: 0px 0px 10px black;
  font-size: 25px;
  padding: 20px;
}

.politica {
  width: 100%;
  text-shadow: 0px 0px 10px black;
  font-size: 25px;
  padding: 20px;
}

.formulario {
  width: 100%;
  text-shadow: 0px 0px 10px black;
  font-size: 25px;
  padding: 20px;
}

.footer {
  width: 100%;
  text-shadow: 0px 0px 10px black;
  font-size: 22px;
  padding: 20px;
}

.cabecera__subtitulo {
  font-family: 'Caveat', cursive;
  font-size: 41px;
  text-shadow: 0px 0px 15px #35569c;
}

.artiuno__subtitulo {
  font-family: 'Caveat', cursive;
  font-size: 41px;
  text-shadow: 0px 0px 15px #35569c;
}

.artidos__subtitulo {
  font-family: 'Caveat', cursive;
  font-size: 41px;
  text-shadow: 0px 0px 15px #35569c;
}

.formulario__subtitulo {
  font-family: 'Caveat', cursive;
  font-size: 41px;
  text-shadow: 0px 0px 15px #35569c;
}

.redes__subtitulo {
  font-family: 'Caveat', cursive;
  font-size: 41px;
  text-shadow: 0px 0px 15px #35569c;
}

.cabecera, .artiuno, .artidos, .formulario, .footer, .redes {
  text-align: center;
}

.cabecera__titulo {
  font-family: 'Caveat', cursive;
  font-size: 56px;
  text-shadow: 0px 0px 22px #0e0c0c;
}

.cabecera__categorias, .cabecera__barra-busqueda {
  font-size: 22px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5em;
  background-color: black;
}

ul a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.footer__ubicalinea {
  font-size: 23px;
}

.logotipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-container__fotosgaleria {
  margin: 10px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #e2a8e2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flex-container > img {
  background-color: #e2a8e2;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.menu__logo, .flex-container__fotosgaleria, ul {
  -webkit-box-shadow: 0px 0px 15px 5px #2e2e2e;
          box-shadow: 0px 0px 15px 5px #2e2e2e;
  border: 7px solid black;
}

.menu__logo {
  border-radius: 50%;
}

@media (max-width: 853px) {
  .flex-container > img {
    background-color: #e2a8e2;
    width: 50%;
    margin: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media (max-width: 600px) {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid white;
    margin: 10px;
    height: 90vh;
    width: 53%;
    text-align: center;
    background-color: #0a0808;
  }
  li > a {
    font-size: 2em;
  }
  .flex-container > img {
    background-color: #e2a8e2;
    width: 90%;
    margin: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

/*   formulario*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #434443;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #0e110e;
}

.formulario__container {
  border-radius: 5px;
  background-color: #ecb4ec;
  padding: 20px;
}

.formulario__col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.formulario__col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.formulario__row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .formulario__col-25, .formulario__col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */