@import 'utilities/variables';

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

@import 'base/base',

        'base/font',

        'base/typography';

@import 'utilities/mixin';

@import 'components/lista',

        'components/logoimagen',

        'components/comploflex',

        'components/formulario';


@media (max-width: 853px) {

  .flex-container > img {

  background-color: $primary-opb-color;
  width: 50%;
  margin: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  
  }

  }

@media (max-width: 600px) {

ul {

  display: flex;
  flex-direction: column;
  border:1px solid white;
  margin: 10px;
  height: 90vh;
  width: 53%;
  text-align: center;
  background-color: rgb(10, 8, 8);

  }

li > a {

  font-size: 2em;

  }

.flex-container > img {
  background-color:$primary-opb-color;
  width: 90%;
  margin: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;

  }

}



