.cabecera,.artiuno,.artidos,.formulario,.footer,.redes {

    text-align: center;
  
  }


  .cabecera__categorias, .cabecera__barra-busqueda{

    font-size: 22px;
  
  }

  .footer__ubicalinea{

    font-size: 23px;
  }
